



h3 {
    margin: 0 0 30px 0;
}












/* Form Controls */


/* Nav */

h1 {
    font-size: 20px;
    font-weight: bold;
    line-height: 70px;
    margin: 0;
}







/* Menu */









.close {
    width: 40px;
    height: 40px;
    background-color: #fff !important;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    border-radius: 50%;
    position: absolute;
    right: -18px;
    top: -18px;
    opacity: 1 !important;
    color: #666;
    outline: none;
}

/* Mobile Menu */


/* Box */

#box-container {
    clear: both;
    position: relative;
}

.box {
    width: 240px;
    margin: 14px 7px 0 7px;

    background: #fff;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    border-radius: 6px;
    width: 236px;
    padding-bottom: 1px;
    position: absolute;
    text-align: center;
    transition: all 0.3s ease-out;
    left: -300px;
    position: absolute;
}

.box .img-container {
    height: 300px;
    overflow: hidden;
}

.box img.product-image {
    width: 216px;
    border-radius: 6px 6px 0 0;
    margin: 10px;
    cursor: pointer;
}



.title-container {
    height: 85px;
}

p.title {
    overflow: hidden;
    clear: both;
    color: #444;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 14px 12px 5px 12px;
    text-align: left;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.box p.title {
    border-top: 1px solid #ddd;
    cursor: pointer;
}

.box .price-box {
    height: 65px;
}

.fba {
    position: absolute;
    top: 0;
    right: 0;
    background-color: RGBA(206, 45, 45, 0.8);
    padding: 6px 14px;
    color: #fff;
    font-weight: bold;
}

p.product-group {
    font-size: 11px;
    color: #aaa;
    padding: 4px 12px;
    text-align: left;
}

p.description {
    color: #333;
    font-size: 13px;
    line-height: 17px;
    padding: 4px 12px;
    text-align: left;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.price {
    color: #333;
    font-size: 32px;
    margin-right: 5px;
    font-weight: bold;
}

.currency {
    color: #999;
}

.btn-review {
    background-color: #3498db;
    min-height: 40px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    width: 90%;
    margin: 18px auto 10px auto;
    line-height: 40px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    display: block;
}

a.btn-review:hover {
    color: #fff;
    text-decoration: none;
}

.btn-review:hover {
    background-color: #2980b9;
}

.btn-review.danger {
    background-color: #e74c3c;
    color: #fff;
}

.btn-review.success {
    background-color: #27ae60;
    color: #fff;
}

.btn-review.disabled {
    background-color: #ccc;
    color: #999;
}


/* Product Modal */

#productModal .modal-body {
    padding: 0 0 20px 0;
    text-align: center;
}

#productModal img {
    max-width: 100%;
    margin-bottom: 20px;
    padding-left: 10px;
}



@media (max-width: 768px) {
    #productModal img {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.productModal img.flag {
    margin-bottom: 0;
}

.productModal .buy-box {
    background-color: #eee;
    padding: 10px 0 18px 0;
    border-radius: 5px;
    width: 95%;
    margin: 0 auto 20px auto;
}

.productModal .product-value {
    width: 28%;
    display: inline-block;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 0;
    margin: 0 1%;
}

#productModal .product-value p {
    font-size: 18px;
    margin-bottom: 0;
}

#productModal .product-value .buy-heading {
    color: #999;
    font-weight: normal;
    font-size: 11px;
}

.product-expiry {
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
}

#productModal .product-expiry .glyphicon {
    font-size: 20px;
    top: 5px;
    color: #3498db;
    margin-right: 5px;
}

.productModal .btn-review {
    margin-top: 10px;
}

.productModal .price-box {
    padding: 10px 0;
}

.productModal p.description {
    max-height: 260px;
    text-align: justify;
    overflow: hidden;
    margin-bottom: 20px;
}

.col-50 {
    width: 49.5%;
}

@media (max-width: 768px) {
    .col-50 {
        width: 100%;
    }

    .productModal .buy-box {
        width: 100%;
        border-radius: 0;
    }

}

/* Filters */















#wait {
    position: fixed;
    width: 100%;
    top: 180px;
}











#floating-button {
    width: 200px;
    background-color: RGBA(200,0,0,0.8);
    color: #fff;
    padding: 12px 0 5px 0;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    position: fixed;
    top: 110px;
    right: 10px;
    z-index: 660;
}

#floating-button:hover {
    -webkit-box-shadow: 0 0 20px 2px rgba(0,0,0,.5);
    box-shadow: 0 0 20px 2px rgba(0,0,0,.5);
}






#info-container {
    width: 100%;
    max-width: 1750px;
    padding: 70px 10px 50px 10px;
    margin: 0 auto;
}

#info-container h3 {
    margin-top: 50px;
}

#info-container h4 {
    margin-top: 40px;
}

#info-container li {
    margin-bottom: 10px;
}







h3.icon-title {
    margin-top: 0;
    text-align: center;
    color: #5c95c0;
}

p.icon-content {
    text-align: center;
}







