#review-container {
	width: 1750px;
	max-width: 100%;
	margin: 0 auto;
	text-align: center;
	padding-top: 80px;
}

.table {
	text-align: left;
	background-color: #fff;
}

.td-image {
	text-align: center;
	padding-right: 20px !important;
	padding-left: 20px !important;
	width: 200px;
}

.td-image img {
	max-height: 90px;
	max-width: 200px;
	cursor: pointer;
}

table tbody tr td.td-image .img-container {
	position: relative;
}


table tbody tr td.td-product {
	word-break: break-word;
}


#review-table .btn-review {
	width: 160px;
	font-size: 12px;
	height: 34px;
	margin-top: 0;
}

#review-table .product-group {
	padding-left: 0;
}

#review-table .td-price {
	width: 110px;
	text-align: center;
}

#review-table .td-status {
	width: 110px;
	text-align: center;
}

#review-table .td-voucher {
	width: 250px;
	text-align: center;
}

#review-table .td-expiry {
	width: 110px;
	text-align: center;
}

#review-table.table>thead>tr>th {
	vertical-align: middle;
	height: 60px;
	border-bottom: 1px;
}

#review-table .buy-now {
	display: block;
	background-color: #2ecc71;
	border-radius: 3px;
	color: #fff !important;
	font-weight: bold;
	font-size: 12px;
	margin: 10px auto;
	text-decoration: none;
	max-width: 100px;
}

#review-table .buy-now:hover {
	background-color: #27ae60;
}

.fba {
	font-size: 10px;
    padding: 3px 8px;
    font-weight: normal;
}

/* Mobile layout for table */

@media (max-width: 768px) {

	table thead {
		display: none;
	}

	table tbody {
		width: 100%;
		background-color: #E7E7E4;
	}

	table tbody tr {
		display: block;
		width: 250px;
		float: left;
		background-color: #fff;
		border-radius: 6px;
		margin: 10px;
	}

	table tbody tr td {
		display: block;
		width: 100% !important;
	}

	table tbody tr td.td-image {
		padding: 0;
	}

	table tbody tr td.td-image .img-container {
		height: 300px;
		overflow: hidden;
	}

	table tbody tr td.td-image img {
		width: 100%;
		border-radius: 6px 6px 0 0;
		margin: 10px 0 0 0;
		cursor: pointer;
		height: auto;
		max-height: none;
	}


	table tbody tr td.td-product {
		width: 400px;
		height: 200px;
		overflow: hidden;
		cursor: pointer;
	    border-top: 1px solid #ddd;
	    padding-top: 12px;
	}

	table tbody tr td.td-voucher {
		height: 65px;
	}

	table tbody tr td.td-status {
		border: none;
	}

	table tbody tr td.td-expiry {
		height: 37px;
		border: none;
	}

	table tbody tr td.td-action {
		height: 100px;
		border: none;
	}

	#review-table .btn-review {
		width: 100%;
	}

}