@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=3.2.1');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff?v=3.2.1') format('woff'), url('fonts/fontawesome-webfont.ttf?v=3.2.1') format('truetype'), url('fonts/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  color: #444444;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 20px;
}
body {
  font-family: "Open Sans",sans-serif;
}
ul, ol {
  margin: 0 0 10px 25px;
  padding: 0;
}
a {
  color: #444444;
  text-decoration: none;
}
h2 {
  font-size: 30px;
  line-height: 40px;
}
.container::before, .container::after {
  content: "";
  display: table;
  line-height: 0;
}
.container::after {
  clear: both;
}

.navbar-fixed-top, .navbar-fixed-bottom {
  left: 0;
  margin-bottom: 0;
  position: fixed;
  right: 0;
  z-index: 1030;
}
.navbar-fixed-top {
  top: 0;
}
.navbar {
  color: #777777;
  margin-bottom: 20px;
  overflow: visible;
}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) inset, 0 1px 10px rgba(0, 0, 0, 0.1);
}
.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
  border-width: 0 0 1px;
}
.navbar-inner {
  min-height: 40px;
  padding-left: 0;
  padding-right: 0;
}
.navbar-inner {
  background: #fff none repeat scroll 0 0;
  border: medium none;
  height: 50px;
}
.kasdf{
  background: #f6f6f6;
}
.container {
  width: auto;
}
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
  width: 1170px;
}
.container2 {
  width: 1170px;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
.afterheader{
	margin-top: 50px;
}
.logo {
  background: rgba(0, 0, 0, 0) url("images/logocoupon.jpg") no-repeat scroll 10px 0 / 114px 35px;
}
.logo {
  display: inline-block;
  height: 35px;
  padding-left: 10px;
  position: relative;
  top: 10px;
  width: 146px;
}
.logo img {
  height: 35px;
  width: 146px;
}
img {
  border: 0 none;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
#headerunder {
  display: block;
  height: 50px;
  margin-right: -140px;
  min-width: 25%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9;
}
.colorback {
  background-color: #632163;
  color: #fff;
}
.pull-right {
  float: right;
}
.topcart {
  display: block;
  height: 50px;
  position: relative;
  width: 240px;
  z-index: 10;
}
#header #cart .heading {
  font-size: 14px;
  padding: 16px 10px 0 16px;
}
#header #cart .heading a {
  cursor: pointer;
  text-decoration: none;
}
.icon-shopping-cart::before {
  content: "";
}
.icon-large::before {
  font-size: 1.33333em;
  vertical-align: top;
}
.icon-top {
  position: relative;
  top: 1px;
}
.icon-up {
  position: relative;
  top: -3px;
}
#cart-total {
  position: absolute;
  right: 29px;
}
.colorwhite {
  color: #fff;
}
.carticon {
  font-size: 12px;
  position: relative;
  top: 0px;
}
.flright {
  float: right;
}
.padleft {
  padding-left: 10px;
}
#header #cart .content {
  clear: both;
  display: none;
  margin: 14px 0 0 -100px;
  padding: 10px;
  position: relative;
}
.icon-remove::before {
  content: "";
}
#mini-closecart {
  float: left;
  font-size: 24px;
  position: relative;
  line-height: 19px;
}
#topcart .empty{
  padding-left: 23px;
}
.handpoint {
  cursor: pointer;
}
.topmenu {
  display: inline-block;
  float: right;
  padding: 15px 16px;
}
.dropup, .dropdown {
  position: relative;
}
.padright {
  padding-right: 10px;
}
.dropdown-menu, .btn-group > .btn:first-child {
  border-radius: 0;
}
.dropdown-menu {
  background-clip: padding-box;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  display: none;
  float: left;
  left: 0;
  list-style: outside none none;
  margin: 2px 0 0;
  min-width: 160px;
  padding: 5px 0;
  position: absolute;
  top: 100%;
  z-index: 1000;
}
li {
  line-height: 20px;
}
.dropdown-menu li:hover a{
  color: #b14faf;
}
.dropdown-menu a {
  clear: both;
  color: #632163;
  display: block;
  font-weight: normal;
  line-height: 20px;
  padding: 3px 20px;
  white-space: nowrap;
}
.navbar .btn, .navbar .btn-group {
  margin-top: 5px;
}
.little-select {
  display: inline-block;
  margin: 0 !important;
  padding: 0 5px 5px;
  white-space: normal;
}
.btn-group {
  font-size: 0;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
}
.little-select .btn-mini {
  font-size: 12px;
  font-weight: bold;
  left: 5px;
  position: relative;
  top: 3px;
}
.btn-group > .btn-mini {
  font-size: 11px;
}
.btn-mini {
  font-size: 11px;
  line-height: 17px;
  padding: 2px 6px;
}
.little-select .dropdown-menu {
  left: -116px;
  top: 15px;
}
.btn-group > .btn, .btn-group > .dropdown-menu {
  font-size: 14px;
}
.little-select ul form {
  margin: 0;
}
.little-select .dropdown-menu #currency {
  text-align: center;
}
.little-select .dropdown-menu a {
  display: inline;
}
.menubar {
  position: relative;
  top: 50px;
}
.navbar-static-top {
  margin-bottom: 0;
  width: 100%;
}
.menubar .navbar-inner {
  background: #fafafa none repeat scroll 0 0;
  border: medium none;
  height: 40px;
}
.navbar-static-top .navbar-inner {
  border-radius: 0;
}
#welcome {
  font-size: 12px;
  padding: 10px 10px 0;
}
.pull-left {
  float: left;
}
#header #search {
  padding: 5px 0 0 11px;
}
.input-append, .input-prepend {
  font-size: 0;
  margin-bottom: 5px;
  white-space: nowrap;
}
.input-prepend .add-on:first-child, .input-prepend .btn:first-child {
  border-radius: 0;
}
.input-prepend .add-on, .input-prepend .btn {
  margin-right: -1px;
}
.input-append .add-on, .input-prepend .add-on {
  background-color: #eeeeee;
  border: 1px solid #ccc;
  border-left: 0;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  height: 30px;
  line-height: 20px;
  min-width: 16px;
  padding: 4px 5px;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
  width: auto;
}
.icon-search::before {
  content: "";
}
#header #search input {
  width: 165px;
}
.input-append input, .input-prepend input, .input-append select, .input-prepend select, .input-append .uneditable-input, .input-prepend .uneditable-input {
  border-radius: 0;
  font-size: 14px;
  margin-bottom: 0;
  position: relative;
  vertical-align: top;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  border-radius: 0;
  color: #555555;
  display: inline-block;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  margin-bottom: 9px;
  padding: 4px 6px;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
input, button, select, textarea {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.input-append input:focus, .input-prepend input:focus, .input-append select:focus, .input-prepend select:focus, .input-append .uneditable-input:focus, .input-prepend .uneditable-input:focus {
  z-index: 2;
}

#pinboard {
  margin: 20px -5px 10px 10px;
  width: 100%;
}
.grid-item {
    background: white none repeat scroll 0 0;
    border: 1px solid #ddd;
    box-shadow: 0 0 9px -2px rgba(0, 0, 0, 0.2);
    float: left;
    margin: 0 16px 20px 0;
    padding: 15px;
    width: 185px; 
}


.grid-item .name {
  font-size: 15px;
  padding-bottom: 10px;
}
.grid-item .name:hover a{
  color: #602060;
}
.grid-item .pindesc {
  font-size: 11px;
  line-height: 1.4em;
  padding: 10px 0;
}
.grid-item .price {
  font-size: 18px;
  padding-bottom: 8px;
}
.grid-item .social, .grid-item .social a {
  color: #444;
  font-size: 10px;
  padding-top: 4px;
}
.icon-gift::before {
  content: "";
}
.icon-thumbs-up::before {
  content: "";
}
.grid-item .cart {
  background-color: #eee;
  color: #444;
  font-size: 12px;
  margin: 0 -15px -15px;
  padding: 7px 15px 5px;
  text-align: center;
  width: 100%;
}
.icon-shopping-cart::before {
  content: "";
}
#footericon {
  font-size: 33px;
  left: 20px;
  line-height: 46px;
  z-index: 1000;
}
.colorbackwhite {
  background-color: #fff;
  color: #632163;
}
.bigfooticon {
  border-radius: 25px;
  bottom: 20px;
  height: 50px;
  position: fixed;
  text-align: center;
  width: 50px;
}
.icon-eject::before {
  content: "";
}
#footer {
  bottom: 0;
  height: 45px;
  position: fixed;
  width: 100%;
  z-index: 999;
}
.footmenu {
  padding-top: 9px;
  text-align: center;
}
.inner {
  margin: 0 10px;
}
.span3 {
  width: 25%;
}
[class*="span"] {
  float: left;
  margin-left: 0;
  min-height: 1px;
}
.btn-group {
  font-size: 0;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
}
.footmenu div .btn-group .btn {
  background-image: none;
  border: medium none;
  box-shadow: none;
  text-shadow: none;
  width: 80%;
}
.btn-group > .btn:first-child {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  margin-left: 0;
}
.dropdown-menu, .btn-group > .btn:first-child {
  border-radius: 0;
}
.btn-group > .btn {
  border-radius: 0;
  position: relative;
}
.footmenu div .btn-group ul.dropdown-menu {
  left: 18%;
}
.bottom-up {
  bottom: 100%;
  top: auto;
}
.btn {
  background-repeat: repeat-x;
  cursor: pointer;
  display: inline-block;
  line-height: 20px;
  margin-bottom: 0;
  padding: 4px 14px;
  text-align: center;
  vertical-align: middle;
}
.ahdbs{
  margin-left: 4px;
}
#toTop {
  font-size: 25px;
  line-height: 1.5;
  right: 20px;
  z-index: 999;
}
.click-toggle{
  float: left;
  height: 30px;
  line-height: 23px;
}
.menu-rsp-active{
  display: block;
}
#cart.active #topcart{
  display: block;
}
.powered_pos{
  position: relative;
  bottom: 0;
  width: 100%;
}
#powered p{
  font-size: 11px;
  text-align: center;
}
.laks{
  margin-right: 4px;
}
.doublepad {
  margin: 0 10px;
}
.pagetitle, h1 {
  font-size: 25px;
  font-weight: normal;
  margin: 15px 0 0;
  text-align: center;
  width: 100%;
}
.marbot {
  margin-bottom: 20px !important;
  line-height: 25px;
  margin-bottom: 20px !important;
  margin-top: 20px;
  text-align: left;
}
.row-fluid {
  width: 100%;
}
.row-fluid::before, .row-fluid::after {
  content: "";
  display: table;
  line-height: 0;
}
.row-fluid::after {
  clear: both;
}
.row-fluid [class*="span"] {
  box-sizing: border-box;
  display: block;
  float: left;
  margin-left: 2.5641%;
  min-height: 30px;
  width: 100%;
}
.window {
  background-color: #f6f6f6;
  margin: 20px 0;
  padding: 10px;
}
.row-fluid [class*="span"]:first-child {
  margin-left: 0;
}
.row-fluid .span7 {
  width: 57.265%;
}
.window20 {
  background-color: #f6f6f6;
  margin: 20px 0;
  padding: 20px;
}
.row-fluid .span5 {
  width: 40.1709%;
}
.nomar {
  margin: 0 !important;
}
.primageview .image, .primageview .image-additional {
  text-align: center;
}
.prodinfo {
  margin-bottom: 20px;
}
.description span {
  font-weight: bold;
}
.prodprice .price-new {
  display: block;
  font-size: 32px;
  padding: 5px 0;
}
.clearfix::before, .clearfix::after {
  content: "";
  display: table;
  line-height: 0;
}
.clearfix::after {
  clear: both;
}
.prodcart {
  margin: 20px 0;
  vertical-align: top;
}
.prodcart input.quantity {
  width: 35px;
  margin-left: 3px;
}
.prodcart input {
  margin: 0;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  border-radius: 0;
  color: #555555;
  display: inline-block;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  margin-bottom: 9px;
  padding: 4px 6px;
}
.button_normal {
  border: medium none;
  border-radius: 0;
  font-family: "Open Sans",sans-serif;
  padding: 5px 15px;
  position: relative;
  top: -4px;
}
.top0 {
  top: 0 !important;
  margin-left: 5px !important;
}
input[type="file"], input[type="image"], input[type="submit"], input[type="reset"], input[type="button"], input[type="radio"], input[type="checkbox"] {
  width: auto;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
}
.iconsca {
  font-size: 18px;
  left: 10px;
  position: relative;
  top: 5px;
}
iconsca a:last-child{
  margin-left: 5px;
}
.prodshareicons {
  margin-bottom: 0;
  margin-top: 20px;
}
.tags{
  margin-top: 15px;
}
input:focus {
  border-color: rgba(194, 87, 122, 0.5) !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(194, 87, 122, 0.4) !important;
  outline: 0 none;
}
.htabs {
  margin-bottom: -20px;
}
.htabs a {
  background-color: #fff;
  display: inline-block;
  margin-right: 7px;
  padding: 10px;
}
.htabs a.selected {
  background-color: #f6f6f6;
}
.row::before, .row::after {
  content: "";
  display: table;
  line-height: 0;
}
.row::after {
  clear: both;
}
.tab-content {
  overflow: auto;
}
p {
  margin: 0 0 10px;
}
#tab-description p span{
  color: rgb(0, 0, 0);
  font-family: Arial,Helvetica,sans;
  font-size: 11px;
  line-height: 14px;
  text-align: justify;
}
.review-list {
  margin-bottom: 30px;
}
.subtitle, h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 20px;
  text-align: left;
  width: 100%;
}
input, textarea, .uneditable-input {
  width: 206px;
}
textarea {
  height: auto;
}
.colorfront {
  color: #602060;
}
.buttons {
  border: medium none;
  margin: 20px 0;
}
.buttons div a {
  padding: 5px 10px;
  cursor: pointer;
}
ul.mega-menu{
  width: 485px;
}
ul.mega-menu li{
  width: 50%;
}
ul.mega-menu li:nth-child(2n){
  float: right;
}
ul.mega-menu li:nth-child(2n+1){
  float: left;
}
ul.mega-menu li a{
  float: left;
}
h1.not_product{
  text-align: center;
  font-size: 30px;
  line-height: 40px;
}
.responsive-menu, .responsive-search {
  display: none;
}
.fullwidth {
  width: 100%;
}
.nopad5 {
  padding: 5px 0 !important;
}
.navbar .container {
  padding: 0;
  width: auto;
}
#search.firstsearch{
  left: 210px;
  position: absolute;
  top: 11px;
}
.wrap-menu{
  position: relative;
}
/*.button-click{
  background: url('images/icon.png');
  background-position: -191px -140px; 
  width: 43px;
  height: 35px;
}*/
#option-list {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #b6b6b6;
  box-shadow: 0 0 10px rgba(50, 50, 50, 0.5);
  display: none;
  left: -293px;
  padding: 0;
  position: absolute;
  top: 28px;
  width: 625px;
}
#option-list {
  background: #fff;
  border: 1px solid #b6b6b6;
  z-index: 99999;
}
#option-list:after, #option-list:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

#option-list:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}
#option-list:before {
  border-color: rgba(182, 182, 182, 0);
  border-bottom-color: #b6b6b6;
  border-width: 11px;
  margin-left: -11px;
}
#option-list .menuWrapper{
  overflow: hidden;
  padding: 10px 15px;
}
#option-list ul {
  float: left;
  height: auto !important;
  margin: 0 7% 0 0 !important;
  padding-right: 0 !important;
  font-size: 14px;
  list-style: outside none none;
  padding: 0 10px 0 0;
}
#option-list ul li{
  float: none;
  margin-bottom: 5px;
}
#option-list ul a:hover {
  color: #b14faf;
}
#option-list .menuTopIcons {
  border-bottom: 1px solid #4f234e;
  display: block;
  margin: 0 0 20px !important;
  padding: 10px 0 !important;
  width: 100%;
}
#option-list .menuTopIcons li:first-child {
  padding-left: 0 !important;
}
#categoryMenu ul li {
  display: block;
  float: none !important;
  margin-bottom: 5px;
}
#option-list .menuTopIcons li {
  float: left !important;
  margin: 0 auto;
  padding-left: 17px;
  width: 70px;
}
#option-list ul a {
  color: #632163 ;
  display: block;
  text-decoration: none;
}
.icon-my-feed,.icon-popular,.icon-fresh,.icon-heating-up,.icon-coupon-codes,.icon-printable-coupons,.icon-interests,.icon-apple,.icon-twitter-share,.icon-facebook-share,.icon-pinterest-share,.icon-plus-button{
  background-image: url("images/icons.png") !important;
}
.icon-my-feed {
  background-position: -88px -180px !important;
}
.icon-popular {
  background-position: -269px -180px !important;
}
.icon-fresh {
  background-position: -133px -180px !important;
}
.icon-heating-up {
  background-position: -48px -180px !important;
}
.icon-coupon-codes {
  background-position: -178px -180px !important;
}
.icon-printable-coupons {
  background-position: -6px -182px !important;
}
.icon-collections, .icon-interests {
  background-position: -224px -178px !important;
}
#option-list .menuTopIcons li span {
  border-left: 0 none !important;
  display: block;
  height: 35px;
  margin: 0 auto 5px;
  padding: 0 !important;
  width: 35px;
}
#option-list .menuTopIcons li img {
  height: 35px;
  width: 35px;
}
#option-list .menuTopIcons li .menuTopIconTitle {
  font-size: 13px;
  text-align: center;
  width: 70px;
  white-space: normal;
}
#option-list .aboutUsLinks {
  background-color: #efefef;
  clear: both;
  display: inherit !important;
  padding: 12px 0 12px 15px;
  width: 610px;
  font-size: 13px;
  white-space: normal;
}
#option-list .aboutUsLinks a {
  display: inline;
  margin-right: 10px;
  color: #632163;
}
#option-list .aboutUsLinks span {
  color: #353535;
  margin-right: 10px;
}
#option-list .categoryMenuSocial {
  float: right;
  margin: -4px 28px 0 0;
  overflow: hidden;
}
#option-list .categoryMenuSocial .socialItems {
  border-radius: 3px;
  display: inline-block;
  height: 22px;
  margin-right: 5px;
  width: 22px;
}
#option-list .categoryMenuSocial .grey {
  background: #777 none repeat scroll 0 0;
}
.icon-apple {
  background-position: -96px -155px !important;
  background-size: 500px auto;
  height: 24px !important;
  width: 24px !important;
}
#option-list .categoryMenuSocial .lightBlue {
  background: #47b4da none repeat scroll 0 0;
}
.icon-twitter-share {
  background-position: -24px -154px !important;
  background-size: 500px auto;
  height: 24px !important;
  width: 24px !important;
}
#option-list .categoryMenuSocial .blue {
  background: #305891 none repeat scroll 0 0;
}
.icon-facebook-share {
  background-position: 0 -153px !important;
  background-size: 500px auto;
  height: 24px !important;
  width: 24px !important;
}
#option-list .categoryMenuSocial .red {
  background: #c82727 none repeat scroll 0 0;
}
.icon-pinterest-share {
  background-position: -47px -153px !important;
  background-size: 500px auto;
  height: 24px !important;
  width: 24px !important;
}
#userNav {
  font-size: 14px;
  height: 30px;
  list-style: outside none none;
  margin: 8.5px 0;
  padding: 0 10px 0 0;
  border-right: 1px solid #fff;
  line-height: 30px;
  position: absolute;
  left: 0px;
  top: 0;
}
#userNav li{
  float: left;
  line-height: 30px;
}
#userNav > li {
  padding: 0;
  position: relative;
  text-align: center;
}
#header #userNav > li > a {
  color: #fff;
  display: block;
  float: left;
  padding: 0;
  text-decoration: none;
}
#userNavLink {
  position: relative;
}
ul#userNav li:first-child span {
  border-left: 0 none;
}
#userNav > li > a > span {
  line-height: 20px;
  padding: 0 10px;
  position: relative;
}
#userNav #userImage {
  border-radius: 13px;
  display: inline-block;
  position: relative;
  top: 2px;
  vertical-align: text-bottom;
}
.userSubMenu {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #b6b6b6;
  box-shadow: 0 0 10px rgba(50, 50, 50, 0.5);
  display: none;
  left: 50%;
  margin-left: -89px;
  position: absolute;
  top: 30px;
  width: 150px;
  z-index: 100;
}
.userSubMenu .menuWrapper {
  overflow: hidden;
  padding: 10px 15px;
}
.userSubMenu ul {
  list-style: outside none none;
  margin: 0 !important;
  padding: 0 !important;
  text-align: left;
}
.userSubMenu ul > li:first-child {
  padding-top: 0;
}
.userSubMenu ul > li {
  padding: 0;
  width: 100%;
}
.userSubMenu a {
  color: #632163 !important;
}
.userSubMenu {
  background: #fff;
  border: 1px solid #b6b6b6;
}
.userSubMenu:after, .userSubMenu:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.userSubMenu:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 6px;
  margin-left: -6px;
}
.userSubMenu:before {
  border-color: rgba(182, 182, 182, 0);
  border-bottom-color: #b6b6b6;
  border-width: 7px;
  margin-left: -7px;
}
.userSubMenu a:hover {
  color: #b14faf !important;
}
.userPlusIcon {
  background-color: #efefef;
  border-radius: 3px;
  float: left;
  height: 22px;
  line-height: 24px;
  margin: 12px 0;
  padding: 2px;
  width: 22px;
  position: absolute;
  left: 105px;
  top: 0;
}
.icon-plus-button {
  background-position: -72px -66px !important;
  height: 22px !important;
  width: 22px !important;
}
#addToDPDialog{
  display: none;
}
.dialogHolder .dialogContent {
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #cccccc;
  border-radius: 5px;
  max-width: 95%;
  text-align: left;
  overflow: visible;
}
.dialogHolder .dialogContent .dialogHeader {
  background: #ffffff none repeat scroll 0 0;
  border-bottom: 1px solid #592758;
  color: #592758;
  font-size: 18px;
  margin: 0 auto;
  padding: 15px 15px 5px;
  text-align: center;
  text-transform: capitalize;
}
#addToDPDialog .dialogContent .dialogHeader img {
  vertical-align: middle;
}
#addToDPDialog .dialogContent .dialogBody {
  margin: 0 auto;
  padding: 20px;
  background: #ffffff none repeat scroll 0 0;
}
.dialogHolder .dialogContent .dialogBody .addDialog {
  margin: 0 0 20px -20px;
  text-align: center;
}
#addToDPDialog .dialogContent .dialogBody h4 {
  color: #353535;
  font-size: 20px;
  margin: 0 0 15px;
}
#addToDPDialog .dialogContent .dialogBody .addItems {
  overflow: hidden;
}
#addToDPDialog .dialogContent .dialogBody .addItems .itemContainer {
  border: 1px solid #d0d0d0;
  border-radius: 3px;
  float: left;
  height: 150px;
  margin-bottom: 20px;
  margin-left: 20px;
  padding: 10px;
  text-align: center;
  width: 150px;
}
#addToDPDialog .dialogContent .dialogBody .addItems .itemContainer:first-child {
  margin-left: 0;
}
#addToDPDialog .dialogContent .dialogBody .addItems .itemContainer .itemName {
  color: #353535;
  font-size: 16px;
  margin: 0;
  text-align: center;
}
#addToDPDialog .dialogContent .dialogBody .addItems .itemContainer .itemImage {
  margin: 20px 0;
}
#addToDPDialog .dialogContent .dialogBody .addItems .itemContainer:hover {
  background: #f3edf3 none repeat scroll 0 0;
}
.addDialog a,.jobDesc a,.showBookmarklet{
  color: #632163;
}
.addDialog a:hover,.jobDesc a:hover,.showBookmarklet:hover{
  color: #b14faf;
}
.box {
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding: 15px;
}
.infoMenu {
  float: left;
  width: 15%;
}
.expandMenuBar, .tabMenu {
  background-color: #ffffff;
  border: 1px solid #b6b6b6;
  border-radius: 3px;
  margin: 10px 0;
}
.infoContent {
  background: #ffffff none repeat scroll 0 0;
  float: left;
  line-height: 1.5;
  margin: 10px;
  padding: 15px;
  width: 75%;
  font-size: 13px;
}
.infoMenu .menuSection {
  margin-bottom: 15px;
}
.infoMenu .menuSection h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}
.infoMenu ul {
  font-size: 14px;
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.expandMenuBar ul, .tabMenu ul {
  margin: 0 !important;
  overflow: hidden;
  padding: 0 !important;
  white-space: nowrap;
}
.infoMenu ul li {
  display: block;
  padding: 3px 0;
  text-align: left;
}
.expandMenuBar ul li, .tabMenu ul li {
  list-style-type: none;
  padding: 0 15px;
}
.expandMenuBar ul li a {
  font-size: 16px;
  padding: 10px !important;
}
.expandMenuBar ul li a, .tabMenu ul li a {
  color: #999999;
  display: inline-block;
  padding: 12px 12px 10px !important;
}
.expandMenuBar li.active a,.infoContent a:hover {
  border: 0 none !important;
  color: #4f234e;
}
.infoContent {
  line-height: 1.5;
}
.infoContent h2 {
  margin: 0 !important;
}
.infoContent a{
  color: #632163;
}
.jobDesc {
  padding: 5px 0 15px;
}
.infoContent .jobRow{
  border-top: 1px solid #cccccc;
  padding: 20px 0;
}
.extensionHeader {
  color: #632163;
  font-size: 20px;
  margin: 0;
}
.extensionSection {
  padding: 0;
}
.extensionBody {
  color: #8d8d8d;
  font-size: 15px;
  margin-bottom: 20px;
  overflow: hidden;
  width: 100%;
}
.extensionBody p {
  float: left;
  margin: 8px 0 0;
}
.extensionBody .extensionText {
  display: inline-block;
  float: left;
  margin: 50px 0 0 15px;
  width: 50%;
}
.purpleButton {
  background-color: #632163;
  border: 2px solid #632163;
  border-radius: 3px;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  height: auto !important;
  padding: 5px;
}
.purpleButton:hover{
  background-color: #652a6c;
}
.extensionBody .extensionText .showBookmarklet {
  clear: both;
  float: left;
  margin-top: 20px;
}
.extensionBody .extensionImage {
  clear: both;
  display: inline-block;
  float: left;
}
.infoContent .faq-section {
  margin-bottom: 15px;
  width: 65%;
}
.bold {
  font-weight: bold;
}
#faq-questions a,.faq-section a{
  color: #632163;
}
#faq-questions a:hover,.faq-section a:hover{
  color: #b14faf;
}
.tabMenu {
  margin: 0;
}
.expandMenuBar .subMenu, .tabMenu .subMenu {
  display: none;
}
.expandMenuBar .visible, .tabMenu .visible {
  display: inherit;
}
.tabMenu ul li {
  display: inline;
  padding: 0 10%;
  text-align: center;
}
.tabMenu ul li.active a ,.subMenu li.hover a{
  border-bottom: 2px solid #4f234e !important;
}
.tabMenu ul li a {
  color: #999999;
  display: inline-block;
  padding: 12px 12px 10px !important;
}
.retailers {
  background-color: #f0f0f0;
  color: #919191;
  font-size: 18px;
  padding: 10px 15px;
  text-align: right;
  text-transform: uppercase;
}
.retailerAd{
  text-align: left; 
  margin: 18px 0 0 58px;
}
.retailerAd h1{
  text-align: left;
}
.retailerContent{
  margin: 18px;
}
.retailerContent .conRetailContent{
  border-top: solid 2px #96a1ab; 
  margin-left: 40px; 
  padding-top: 10px;
}
.tabJoinUs{
  background: url('images/retailers_image.jpg') no-repeat top right;
}
.tabJoinUs-advertise{
  background: url('images/adver_image.jpg') no-repeat top right;
}
.tabOpportuniti{
  text-align: left; 
  margin: 20px 20px 10px;
  display: none;
}
.tabStorePage{
  display: none;
}
.tabOpportuniti h5{
  font-size: 16px;
}
.tabOpportuniti h5:nth-child(2){
  font-size: 16px; 
  padding-top: 15px;
}
.tabOpportuniti h5:nth-child(3){
  font-size: 16px; 
  padding-top: 19px;
}
.title-topRetailer{
  text-align: left; 
  padding: 110px 0 0 20px;
}
.title-topRetailer h5{
  font-size: 16px;
}
.middleRetailer{
  text-align: left; 
  margin: 15px 30px 35px; 
  font-size: 14px;
}
.middleRetailer p{
  border-bottom:1px solid #eee; 
  padding-bottom: 8px;
}
.whoshop{
  text-align: left; 
  margin: 20px;
}
.whoshop h5{
  font-size: 16px;
}
.bottomRetail{
  text-align: left; 
  margin: 15px 30px 35px; 
  font-size: 14px;
}
.bottomRetail p{
  border-bottom: solid 1px #eee; 
  padding-bottom: 8px;
}
.bullet {
  font-size: 18px;
  margin-right: 8px;
}
.top-storePage{
  text-align: left; 
  margin: 20px 20px 10px;
}
.top-storePage h5{
  font-size: 16px;
}
.top-storePage p:first-child{
  padding-left: 5px; 
  font-size: 13px;
}
.top-storePage p:last-child{
  padding: 25px 0 0 5px; 
  font-size: 11px; 
  font-style: italic;
}
.top-storePage p span{
  color:#c60909; 
  font-size: 12px;
}
.inputDiv {
  margin-bottom: 10px;
}
#form label {
  display: inline-block;
  font-size: 13px;
  line-height: 20px;
  margin-right: 10px;
  text-align: right;
  width: 20%;
}
#form label span{
  color:#c60909; 
  font-size: 12px;
}
#form input {
  border: 1px solid #9e9e9e;
  height: 22px;
  width: 253px;
}
.inputDiv textarea{
  height: 100px; 
  width: 251px; 
}
.q-business{
  text-align: left; 
  margin: 20px 20px 10px;
}
.q-business h5{
  font-size: 15px;
}
.sitTight{
  margin: 15px 25px 35px;
}
.textareaLabel {
  float: left;
  margin-right: 13px !important;
}
#form textarea {
  border: 1px solid #9e9e9e;
}
.adverSubmit {
  margin: 10px 0;
  width: 100px !important;
}
#budget{
  padding: 0;
  border: 1px solid #9e9e9e;
}
#oldMainContent {
  background: #ffffff none repeat scroll 0 0;
  margin-top: 35px;
}
#oldMainContent #main_content {
  overflow: hidden;
  padding: 15px;
  border: 1px solid #e3e3e3;
}
.content_left {
  float: left;
}
.font14 {
  font-size: 14px;
}
.padb10 {
  padding-bottom: 10px;
}
.padt5 {
  padding-top: 5px;
  height: 18px;
}
.fright {
  float: right !important;
}
.tableBorder2 th, td {
  padding: 5px;
}
.questionsTable th {
  color: #999999;
  font-weight: normal;
  padding: 3px;
}
.questionsTable .answer {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  width: 50px;
}
.questionsTable td {
  border-top: 1px solid #e5e5e5;
  vertical-align: middle;
}
.questionsTable .numAnswer {
  background-color: #6084a4;
  color: #ffffff;
  margin: 3px;
  padding: 5px 0;
}
.questionsTable .title {
  font-size: 14px;
  padding: 5px 3px 5px 5px;
}
.questionsTable .title a:hover,#questionCategory a:hover{
  color: #b14faf;
  text-decoration: underline;
}
.lt_grey {
  color: #888888;
}
.mart3 {
  margin-top: 3px;
}
.font11 {
  font-size: 11px;
}
.questionsTable .view {
  color: #666666;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
.questionsTable .vote {
  color: #666666;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
.questionsTable .posted {
  padding: 3px;
}
.questionsTable .time {
  color: #999999;
  font-size: 11px;
}
.padb15 {
  padding-bottom: 15px;
}
.padt15 {
  padding-top: 15px;
}
.padl3 {
  padding-left: 3px;
}
.box_selected {
  background: #11578b none repeat scroll 0 0;
  border: 1px solid #9f9f9f;
  color: #ffffff;
  font-weight: bold;
  padding: 2px 4px;
}
.box_a {
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #cccccc;
  padding: 2px 4px;
  text-decoration: none;
}
a.box_a:hover {
  background-color: #11578b;
  border: 1px solid #9f9f9f;
  color: #ffffff;
  text-decoration: none;
}
.content_right {
  float: right;
}
#searchQAInput {
  color: #777777;
  font-weight: bold;
  height: 20px;
  width: 236px;
}
.module_sm {
  height: auto;
  margin: 0 0 15px;
  width: 300px;
  border: 1px solid #c3cdd6;
  border-radius: 5px;
}
.module_sm .content {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  height: auto;
  overflow: hidden;
  padding: 3px 10px 10px;
  width: 278px;
}
#oldMainContent #main_content h3 {
  font-size: 16px;
}
#questionCategory {
  list-style: outside none none;
  margin: 0;
  padding: 0 0 0 10px;
}
#questionCategory li {
  padding: 5px;
}
#questionCategory a{
  color: #632163;
}
.c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12 {
  float: left;
  min-height: 1px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}
#main {
  margin: 30px 0;
}
#primary {
  padding: 0 5px !important;
  margin-bottom: 20px;
}
.c9 {
  width: 73%;
}
.c3 {
  width: 25%;
}
.end {
  float: right !important;
  padding: 0 !important;
}
.search article, .archive article, article.c12 {
  margin-bottom: 30px;
}
article {
  float: left;
}
article,header,aside{
  display: block;
}
aside ul{
  margin: 0;
}
.post-category, .post-category a{
  font-size: 12px;
  font-weight: 300;
}
.post-category{
  color: #666666;
  line-height: 1.3;
  margin: 0;
  text-transform: uppercase;
}
.post-category a {
  color: #666666 !important;
  text-decoration: none;
}
.post-category a:hover {
  color: #444444;
}
.entry-title, .entry-title a {
  font-size: 28px;
  font-weight: normal;
}
.entry-title {
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.entry-title a {
  color: #222222;
}
.entry-title a:hover {
  color: #632163;
}
.entry-meta, .entry-meta a {
  font-size: 12px;
  font-weight: normal;
}
.entry-meta {
  color: #333333;
  line-height: 1.3;
  margin-top: 5px;
}
.entry-meta a{
  color: #128ac9;
}
.entry-title a, .entry-meta a {
  text-decoration: none;
}
.entry-content {
  overflow: hidden;
  width: 100%;
}
.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
.excerpt p {
  margin-top: 0;
}
.more-link-p {
  clear: both;
  margin-bottom: 30px;
}
.more-link-p .more-link {
  margin: 0;
  background-color: #444444;
  color: #ffffff;
  border: 0 none;
  border-radius: 6px;
  box-shadow: 1px 1px 0 #eeeeee;
  display: inline-block;
  font-size: 0.95em;
  line-height: 1.2;
  padding: 6px 12px;
  text-decoration: none;
  text-shadow: none;
}
#pagination {
  background: #eeeeee none repeat scroll 0 0;
  font-size: 0.9em;
  padding: 10px;
  clear: both;
  float: left;
  margin: 0 0 20px;
  width: 100%;
}
#pagination .page-numbers.current, #pagination .page-numbers:hover, #post-pagination a:hover, #post-pagination .current-post-page {
  border-color: #666666;
  color: #000000;
}
#pagination .total-pages, #pagination .page-numbers, #post-pagination a, #post-pagination .current-post-page {
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #bbbbbb;
  float: left;
  margin-right: 5px;
  padding: 0 6px;
  text-decoration: none;
}
.widget {
  float: left;
  font-size: 0.9em;
  margin-bottom: 30px;
  padding: 10px;
  width: 97%;
}
.widget-title, .header-widget-title {
  border-bottom: 1px solid #dddddd;
  font-size: 1.6em;
  line-height: 1.2;
  margin-top: 0;
  padding-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
}
.widget-title {
  letter-spacing: 1px;
  text-align: left;
}
.widget ul {
  list-style: outside none none;
  padding: 0;
}
.dpCatLink {
  display: inline-block;
  height: 20px;
  margin: 4px 0;
  padding-right: 5px;
  vertical-align: middle;
  width: 100%;
}
span.dpCatNum {
  float: right;
}
.dpAdWidget {
  text-align: center;
}
.widget ul li a,.widget_dptd_widget a {
  text-decoration: none;
}
.dpTrendingDeal {
  color: #020000 !important;
  cursor: pointer;
  height: 40px;
  margin-bottom: 5px;
  overflow: hidden;
  width: 100%;
}
.dpLink:hover, .dpLink span:hover {
  background-color: #bcbcbc;
  color: #020000 !important;
}
.dpDealPlusContainer {
  border: 1px solid #83b4f9;
  float: left;
  height: 40px;
  margin-right: 10px;
  width: 40px;
}
.dpDealTitle {
  float: left;
  height: 40px;
  line-height: 18px;
  width: 190px;
}
.dpClear {
  clear: both;
}
.dpDealPlus {
  font-size: 15px;
  font-weight: bold;
  height: 20px;
  line-height: 18px;
  text-align: center;
}
.dpDealPlusLabel {
  background-color: #83b4f9;
  color: #ffffff;
  font-size: 10px;
  height: 20px;
  line-height: 18px;
  text-align: center;
}
.post-category i {
  margin-right: 5px;
  opacity: 0.8;
}
#slider-wrap{
  padding: 0 20px;
}
#slider1_container{
  position: relative; 
  top: 0px; left: 0px; 
  width: 100%; 
  height: 300px; 
  background: #000; 
  overflow: hidden; 
}
.jssort11 {
    position: absolute;
    width: 200px;
    height: 300px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.jssort11 .p {
    position: absolute;
    width: 200px;
    height: 69px;
    background: #181818;
}
.jssort11 .tp {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
.jssort11 .i,.jssort11 .pav:hover .i {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 60px;
    height: 30px;
    border: white 1px dashed;
}
* html .jssort11 .i {
    width: 62px;
    height: 32px;
}
.jssort11 .pav .i {
    border: white 1px solid;
}
.jssort11 .t,.jssort11 .pav:hover .t {
    position: absolute;
    top: 3px;
    left: 68px;
    width: 129px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: #fc9835;
    font-size: 13px;
    font-weight: 700;
}
.jssort11 .pav .t,.jssort11 .p:hover .t {
    color: #fff;
}
.jssort11 .c,.jssort11 .pav:hover .c {
    position: absolute;
    top: 38px;
    left: 3px;
    width: 197px;
    height: 31px;
    line-height: 31px;
    color: #fff;
    font-size: 11px;
    font-weight: 400;
    overflow: hidden;
}
.jssort11 .pav .c,.jssort11 .p:hover .c {
    color: #fc9835;
}
.jssort11 .t,.jssort11 .c {
    transition: color 2s;
    -moz-transition: color 2s;
    -webkit-transition: color 2s;
    -o-transition: color 2s;
}
.jssort11 .p:hover .t,.jssort11 .pav:hover .t,.jssort11 .p:hover .c,.jssort11 .pav:hover .c {
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
}
.jssort11 .p:hover,.jssort11 .pav:hover {
    background: #333;
}
.jssort11 .pav,.jssort11 .p.pdn {
    background: #462300;
}
#buttn-search{
  margin: 0 !important;
}

/* responsive pinboard */

@media (max-width: 935px) {
    #pinboard {
        width:700px;
        margin: 20px auto 10px auto;}
}

@media (max-width: 710px) {
    #pinboard {
        width:470px;
        margin: 20px auto 10px auto;}
}
@media (max-width: 470px) {
    #pinboard {
        width:220px;
        margin: 20px auto 10px auto;}
}

/* resopnsive top */
.responsive-menu, .responsive-search {
    display:none;
    }
@media (min-width: 1200px) {
.footmenu div .btn-group ul.dropdown-menu {
        left: 18%;
    }
    
}
@media (max-width: 870px) {
    .box-product .rel-product {
    width:49%;}
}

@media (max-width: 766px) {
    .topmenu {
        display:none;
    }
    .responsive-menu {
        display:block;
    }
    .dropdown-menu {
        margin: 0 4%;
        }
    .responsive-menu .navbar-inner {
        background-color: #FFF; 
    }
    .responsive-menu .navbar-inner .dropdown {
        text-align: center;
        padding-top: 9px; 
    }
    .m-sub {
        font-size:11px;
    }
    .m-sub a {
        padding: 0 20px;
    }
    .footmenu div .btn-group ul.dropdown-menu {
        left: 18%;
    }
    #footer {
        height: 130px;
    }
    td.model, td.image, td.customer, td.added, td.price {
    display:none;}    
    .box-product .rel-product {
    width:100%;}
}

@media (max-width: 550px) {
    .responsive-search {
        display:block;
    }
    
    .firstsearch {
        display:none;    
    }
    #welcome {
        float:none;
        text-align: center;
    }
    .bigfooticon {
        bottom: 10px;
        width: 40px;
        height: 40px;
        -webkit-border-radius: 20px;
        border-radius: 20px;
    }
    #toTop {
        font-size: 21px;
        right: 10px;
        }
    #footericon {
        left: 10px;
        font-size: 26px;
        line-height: 36px;
        }
    td.price {
    display:none;} 
}

@media (max-width: 395px) {
    #cart-total {
        right: 10px;
    }
    .padright {
        padding-right: 5px;
    }
    .little-select .btn-mini {
        left: 0px;
    }
    .carticon {
        display:none !important;
    }
    #header #cart .heading {
        font-size: 12px;
        padding: 17px 10px 0px 10px;
        }
    #header #cart .content {
        margin: 13px 0px 0px -100px;
    } 
    .icon-top {
        top: 1px;
    }
    .topcart {
        width:160px;
    }
}

    
/* Modificaion of BootStrap */
.span3 {
    width: 25%;
}

.navbar-inner {
    min-height: 40px;
    padding-left: 0px;
    padding-right: 0px;
}
@media (max-width: 979px) {
    .navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
    padding: 0px;
    }
    .navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    }
}

@media (max-width: 979px) and (min-width: 768px) {
    .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
      width:auto;
    }
}
@media (min-width: 980px) and (max-width: 1199px){
  .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 940px;
  }
}
@media (max-width: 767px) {
    body {
    padding-left: 0px;
    padding-right: 0px;
    }
    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
    margin-left: 0px;
    margin-right: 0px;
        }
    .footmenu div  {
        position: relative;
        margin: 0 auto;
        }
    .span3 {
        width: 100%;
    }

}

@media (min-width: 320px) and (max-width: 767px) {
    [class*="span"], .row-fluid [class*="span"] {
      box-sizing: border-box;
      display: block;
      float: none;
      margin-left: 0;
      width: 100%;
    }
}

@media (max-width: 1420px) and (min-width: 1200px) {
  .container2 {
  width: 1170px !important;
  }
}

@media (max-width: 1720px) and (min-width: 1420px) {
  .container2 {
  width: 1400px !important;
  }
}

@media (max-width: 2000px) and (min-width: 1720px) {
  .container2 {
  width: 1635px !important;
  }
}


@media (max-width: 2200px) and (min-width: 2000px) {
  .container2 {
  width: 1875px !important;
  }

  #headerunder {
      min-width: 20%;
  }

}


@media (min-width: 2200px) {
  .container2 {
  width: 2100px !important;
  }
  #headerunder {
      min-width: 15%;
  }
}
@media (min-width: 320px) and (max-width: 359px){
  ul.mega-menu {
    width: 292px;
  }
}
@media (min-width: 360px) and (max-width: 710px){
  ul.mega-menu {
    width: 328px;
  }
}
#infscr-loading{
bottom: 0;
float: left;
left: 50%;
position: absolute;
z-index: 99999;
}
.prodcart select{height:auto;}
.image-additional a.colorbox{
	float:left;
	width:100%;
	height:100px;
}
.option_label{float:left; width:20%;}